@charset "utf-8";

html{
height: 100%;
width: 100%;
}

#content-wrapper{
	display: flex;
/*	height: 100%;	*/
	width:100%;
	justify-content:center;
}

#center{
	background-color:#DDDDDD;
	flex-grow:3;
	
}

.side-content{
	flex-grow:2;
	background-color:green;
}